.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vmax auto;
}
.form{
    width: 30%;
    background-color: rgb(192, 187, 187);
    padding: 1vmax;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:600px){
    .form{
        width: 100%;
        background-color: rgb(192, 187, 187);
        padding: 2vmax;
        margin: 2vmax;
    }
}